<%= 
phoxy.DeferRender(this.pg['head'], {})
%>
<%= 
this.DeferRender(this.pg['cap'], {})
%>		

<%= 
this.DeferRender(this.pg['top'], {})
%>

<div  class = 'body_table_center'>
							<div  class = 'body_login_div' id = 'body_login_div'>
							</div>
							<div  class = 'body_table_center_div' id = 'body_table_center'>

			
<%= 
this.DeferRender(this.pg['body'])
%>


							</div>							
</div>
<%= 
this.DeferRender(this.pg['footer'], {})
%>